<sbb-accordion title-level="3" size="l">
  @for (animation of animations(); track animation.id) {
    <sbb-expansion-panel color="white">
      <sbb-expansion-panel-header>
        {{ animation.name ?? 'kein Name' }}
        <sbb-mini-button iconName="circle-play-medium" (click)="startAnimation.emit(animation.id)"/>
      </sbb-expansion-panel-header>
      <sbb-expansion-panel-content>
        <ul>
          @for (step of animation.steps; track step.id) {
            <li>{{ step.actionDescription }}</li>
          }
        </ul>
      </sbb-expansion-panel-content>
    </sbb-expansion-panel>
  }
</sbb-accordion>


