<sbb-action-group align-group="start" orientation="horizontal" horizontal-from="unset" button-size="l" link-size="m">
  <sbb-button (click)="openAll.emit()">Alles auf</sbb-button>
  <sbb-button (click)="closeAll.emit()">Alles zu</sbb-button>
  <sbb-button (click)="calcAgain.emit()">Berechne wieder</sbb-button>
</sbb-action-group>

<div class="shutter-tiles">
  @for (rollerShutter of rollerShutters(); track rollerShutter.id) {
    <app-roller-shutter-cell [rollerShutter]="rollerShutter"
                             (block)="block.emit(rollerShutter.id)"
                             (unblock)="unblock.emit(rollerShutter.id)"/>
  }
</div>
