
sbb-clock {
  --sbb-clock-seconds-hand-color: #eb0000;
}

.panel {
  position: fixed;
  width: 20vw;
  min-width: 100px;
  max-width: 300px;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}

.container {
  padding-bottom: 10vh;
  margin: 2vh 1vw;
}


.navigation-trigger {
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: min(5vh, 10px);
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  padding: 5px min(5vw, 10px);
  border-radius: 0 15px 15px 0;
  border: solid 1px rgba(255, 255, 255, 0.3);

  span {
    font-size: x-large;
  }

  sbb-breadcrumb {
    --sbb-breadcrumb-color: white;
  }
}
