
.panel {
  position: fixed;
  width: 20vw;
  min-width: 100px;
  max-width: 300px;
  right: 10px;
  bottom: 10vh;
}

.container {
  padding-bottom: 10vh;
}

.navbar {
  background-color: #555;
  overflow: auto;
  position: fixed;
  margin: 0 auto; /* Only centers horizontally not vertically! */
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar button {
  float: left;
  text-align: center;
  padding: 12px;
  background-color: gray;
  border-style: none;
  color: white;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #000;
}

.navbar .active {
  background-color: #04AA6D;
}

@media screen and (max-width: var(--small-device-width-border)) {
  .navbar a {
    float: none;
    display: block;
  }
}
