
.container {
  padding-bottom: 10vh;
}

/* Style the navigation bar */
.navbar {
  background-color: #555;
  overflow: auto;
  position: fixed;
  margin: 0 auto; /* Only centers horizontally not vertically! */
  bottom: 0;
  left: 0;
  right: 0;
}

/* Navbar links */
.navbar button {
  float: left;
  text-align: center;
  padding: 12px;
  background-color: gray;
  border-style: none;
  color: white;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

/* Navbar links on mouse-over */
.navbar button:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: var(--small-device-width-border)) {
  .navbar a {
    float: none;
    display: block;
  }
}
