<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="navigation-trigger" #navTrigger>
  <sbb-breadcrumb size="l"
                  icon-name="hamburger-menu-small"
                  aria-label="trigger navigation"
                  aria-haspopup="true">
    <span>{{ currentRoute()?.text }}</span>
  </sbb-breadcrumb>
</div>

<sbb-navigation #nav [trigger]="navTrigger">
  <sbb-navigation-marker id="nav-marker">
    @for (route of routes; track route.link) {
      <sbb-navigation-button [class.sbb-active]="activeRoute() == route.link"
                             (click)="clickMenuItem(route.link)"
                             (touchstart)="clickMenuItem(route.link)"
                             sbb>
        {{ route.text }}
      </sbb-navigation-button>
    }
  </sbb-navigation-marker>
</sbb-navigation>

<div class="panel">
  <sbb-clock></sbb-clock>
</div>
