
sbb-clock {
  --sbb-clock-seconds-hand-color: #eb0000;
}

.panel {
  position: fixed;
  width: 20vw;
  min-width: 100px;
  max-width: 300px;
  right: 10px;
  bottom: 10vh;
}

.container {
  padding-bottom: 10vh;
  margin: 2vh 1vw;
}


.navigation-trigger {
  position: fixed;
  left: min(5vw, 10px);
  bottom: min(5vh, 10px);
}
