# tell lombok that this is the root-config (so lombok will not search for more config-files in parent-folders)
config.stopbubbling = true

# return objects on setter (instead of void)
lombok.accessors.chain=true

lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.boot.context.properties.bind.DefaultValue
