<div>
  <p>Hallo und Willkommen zum HeimSystem</p>
  <span>Derzeit hast du {{ devices().length }} Lampen.</span>

  @if (devicesThatAreOn().length > 0) {
    <span>Diese Lampen sind derzeit an:</span>
    <ul>
      @for (lamp of devicesThatAreOn(); track lamp.id) {
        <li>{{ lamp.name }}</li>
      }
    </ul>
  }
</div>
<div>
  <div>{{ weather().outerTemperature | weatherValue }}</div>
  <div>{{ weather().outerLight | weatherValue }}</div>
  <div>{{ weather().wind | weatherValue }}</div>
  <div>{{ weather().rain | weatherValue }}</div>
  <div class="weatherUpdated">{{ weather().recordedAt | dateAgo | async }}</div>
</div>
