<div>
  @if (lightsThatAreOn().length > 0) {
    <span>Diese Lampen sind derzeit an:</span>
    <ul>
      @for (lamp of lightsThatAreOn(); track lamp.id) {
        <li>{{ lamp.name }}</li>
      }
    </ul>
  }
</div>
@if (sensorsThatAreMoving().length > 0) {
  <div>
    <span>Bewegungsmelder haben Bewegung: </span>
    <ul>
      @for (sensor of sensorsThatAreMoving(); track sensor.id) {
        <li>{{ sensor.name }} <span class="grayed">seit {{ sensor.lastUpdate | dateAgo | async }}</span></li>
      }
    </ul>
  </div>
}
<div>
  <div>{{ weather().outerTemperature | weatherValue }}</div>
  <div>{{ weather().outerLight | weatherValue }}</div>
  <div>{{ weather().wind | weatherValue }}</div>
  <div>{{ weather().rain | weatherValue }}</div>
  <div class="grayed">vor {{ weather().recordedAt | dateAgo | async }}</div>
</div>
