:host {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}


.teaser-wrapper {


  sbb-teaser-product {
    --sbb-teaser-product-min-height: 80vh;
  }
}

.grayed {
  color: #555555;
}

.light-list {
  max-height: 50vh;
}
