server:
  port: 8080
  error:
    include-message: always
  address: 0.0.0.0


quarkus:


  datasource:
    db-kind: postgresql
    jdbc:
      url: ${JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASS}


  hibernate-orm:
    physical-naming-strategy: "org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy"

  console:
    color: true

  http:
    cors: true
    cors.origins: "*"
    cors.methods: "GET,OPTIONS"
    cors.exposed-headers: "prompt"