<sbb-flip-card class="sbb-dark">
  <sbb-flip-card-summary>
    <div class="left-side">
      {{ rollerShutter().name }}

      @if (rollerShutter().config?.compassDirection; as directions) {
        <br>
        <span>{{ directions | compass }}</span>
      }
      @if (rollerShutter().config?.noAutomaticsUntil; as noAutomaticsUntil) {
        @if (noAutomaticsUntil | isDateInFuturePipe | async) {
          <br>
          <span>blockiert bis zum {{ noAutomaticsUntil | date:'dd.MM.yyyy' }}</span>
        }
      }
    </div>

    <div slot="image">
      <div class="container">
        <div class="house">
          <div class="window">
            <div class="stripe"
                 [style.--lift]="rollerShutter().currentLift + '%'"
                 [style.--tilt]="rollerShutter().currentTilt + '%'"></div>
          </div>
          <div class="flower"></div>
        </div>
      </div>
    </div>
  </sbb-flip-card-summary>

  <sbb-flip-card-details>
    <sbb-form-field negative>
      <label>Höhe</label>
      <sbb-slider name="height"
                  start-icon="fog-small"
                  end-icon="sunshine-small"
                  [valueAsNumber]="rollerShutter().currentLift"
                  (input)="updateLift($event)"
                  min="0"
                  max="100"></sbb-slider>
    </sbb-form-field>

    <sbb-form-field negative>
      <label>Winkel</label>
      <sbb-slider name="height"
                  start-icon="fog-small"
                  end-icon="sunshine-small"
                  [valueAsNumber]="rollerShutter().currentTilt"
                  (input)="updateTilt($event)"
                  min="0"
                  max="100"></sbb-slider>
    </sbb-form-field>

    @if (rollerShutter().config?.noAutomaticsUntil | isDateInFuturePipe | async) {
      <sbb-button (click)="unblock.emit()">Entsperren</sbb-button>
    } @else {
      <sbb-button (click)="block.emit()">Sperren für 24h</sbb-button>
    }
  </sbb-flip-card-details>
</sbb-flip-card>

