
:host {
  max-height: 30vh;
}


.card {
  max-height: 30vh;
  --sbb-flip-card-min-height: 10vh;

  .front-side {
    .left-side {
      text-align: left;
      margin: auto;
      vertical-align: middle;
      padding-right: 10px;
    }


    .container {
      height: 450px;
      width: 400px;
      position: relative;

      * {
        position: absolute;
      }

      .house {
        top: 50vh;
        left: 75px;
        height: 20vh;
        width: 25vw;
        background: #FFF;

        .window {
          top: 3vh;
          left: 2vw;
          height: 8vh;
          width: 7vw;
          background: #96ebff;
          z-index: 3;
          border-top: 7px solid blue;

          .stripe {
            --lift: 100%;
            --tilt: 90%;
            --color: gray;

            --tilt-start: calc(10% - var(--tilt) / 100 * 10);

            position: absolute;
            width: 100%;
            height: calc(100% - var(--lift));
            background: repeating-linear-gradient(
                var(--color),
                var(--color) var(--tilt-start),
                transparent var(--tilt-start),
                transparent 10%
            );
            z-index: 1;
            transition: height 500ms ease-in-out;
          }

          .stripe:first-child {
            border-bottom: 1px solid transparent;
            top: 0;
          }
        }

        .window::before,
        .window::after {
          content: '';
          position: absolute;
          background: silver;
        }

        .window::before {
          top: 0;
          left: 50%;
          height: 100%;
          width: 1px;
        }

        .window::after {
          top: 50%;
          height: 1px;
          width: 100%;
        }

      }

      .house::before {
        content: '';
        position: absolute;
        top: -20vh;
        left: 25vw;
        height: 18vh;
        width: 18vw;
        background: white;
        transform: rotate(45deg);
        border-top: 10px solid blue;
        border-left: 10px solid blue;
        z-index: 2
      }

      .house::after {
        content: '';
        position: absolute;
        top: -7vh;
        left: 1vw;
        height: 7vh;
        width: 3vw;
        background: blue;
        z-index: 1;
        border-top: 7px solid rgba(0, 0, 0, .3);
      }

      .flower {
        bottom: 0;
        height: 6vh;
        width: 6vw;
        background: green;
        z-index: 4;
        border-radius: 30px 30px 3px 0;
        box-shadow: 1px -1px 7px rgba(0, 0, 0, .5);
      }

      .flower::before {
        content: '';
        position: absolute;
        bottom: -0px;
        left: 4vw;
        height: 4vh;
        width: 50px;
        background: green;
        border-radius: 50% 50% 0 0;
      }

      .flower::after {
        content: '';
        position: absolute;
        bottom: -0px;
        left: 8vw;
        height: 4vh;
        width: 5vw;
        background: green;
        border-radius: 50% 50% 15% 0;
      }
    }
  }
}

