<div class="container">
  <div id="wrapper">
    <div class="stripe" [style.--lift]="rollerShutter().currentLift + '%'"
         [style.--tilt]="rollerShutter().currentTilt + '%'"></div>
  </div>

  <div>
    <span>{{ rollerShutter().name }}</span>
    @if (rollerShutter().config?.compassDirection; as directions) {
      <br>
      <span>{{ directions | compass }}</span>
    }
    @if (rollerShutter().config?.noAutomaticsUntil; as noAutomaticsUntil) {
      <br>
      <span>blockiert bis zum {{ noAutomaticsUntil | date:'dd.MM.yyyy' }}</span>
    }
  </div>

</div>
