
.container {
  display: grid;
  grid-template-columns: 130px auto;
  align-items: center;
  border: #555555 solid 1px;
  border-radius: 10px;
  height: 100px;
  width: 400px;
  margin: 15px
}

#wrapper {
  margin-left: 5px;
  width: 100px;
  height: 80px;
  border: #555555 1px solid;
  position: relative;
}

.stripe {
  --lift: 100%;
  --tilt: 90%;
  --color: gray;

  --tilt-start: calc(10% - var(--tilt) / 100 * 10);

  position: absolute;
  width: 100%;
  height: calc(100% - var(--lift));
  background: repeating-linear-gradient(
      var(--color),
      var(--color) var(--tilt-start),
      transparent var(--tilt-start),
      transparent 10%
  );
  z-index: 1;
  transition: height 500ms ease-in-out;
}

.stripe:first-child {
  border-bottom: 1px solid transparent;
  top: 0;
}

