apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
  labels:
    product: home-system
    component: backend

spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      product: home-system
      component: backend

  template:
    metadata:
      labels:
        product: home-system
        component: backend

      annotations:
        # enforce k8s to restart the pod
        rollme: {{ randAlphaNum 5 | quote }}

    spec:
      automountServiceAccountToken: false
      containers:
        - name: backend
          image: {{ .Values.image.base }}:{{ .Values.image.tag }}
          imagePullPolicy: Always
          env:
            - name: TZ
              value: {{ .Values.timezone }}
            - name: JDBC_URL
              valueFrom:
                secretKeyRef:
                  key: jdbc_url
                  name: {{ .Release.Name }}-backend
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: db_user
                  name: {{ .Release.Name }}-backend
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: db_pass
                  name: {{ .Release.Name }}-backend
            - name: BASE_URL
              value: "https://{{ .Values.host }}/"
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
