/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';


:root {
  --primary-color: #272d33;
  --primary-background-color: #00253c;
  --small-device-width-border: 1000px;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}


@media screen and (max-width: 1023px) {
  .img {
    max-height: 20vh;
  }
}

