@import '@sbb-esta/lyne-elements/standard-theme.css';

:root {
  --primary-color: #272d33;
  --primary-background-color: #00253c;
  --small-device-width-border: 1000px;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}


@media screen and (max-width: 1023px) {
  .img {
    max-height: 20vh;
  }
}

