server:
  port: 8080
  error:
    include-message: always
  address: 0.0.0.0


quarkus:

  scheduler:
    enabled: true

  flyway:
    migrate-at-start: true
    validate-on-migrate: false

  datasource:
    db-kind: postgresql
    jdbc:
      url: ${JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASS}


  hibernate-orm:
    physical-naming-strategy: "org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy"

  console:
    color: true

  http:
    cors:
      ~: true
      origins: "*"
      methods: "GET,OPTIONS"
      exposed-headers: "prompt"
