name: Publish to DockerHub
on:
  push:
    branches: [ master ]
    paths:
      - 'src/**'
      - 'build.gradle'
      - '.github/workflows/publish.yml'
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Publish
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Java build
        run: ./gradlew build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: src/main/docker/Dockerfile.jvm
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          push: true
          pull: true
          tags: akop/home-system:stable
