name: Publish telemetry to DockerHub
on:
  push:
    branches: [ master ]
    paths:
      - 'telemetry-backend/src/**'
      - 'telemetry-backend/build.gradle'
      - '.github/workflows/publish-telemetry.yml'
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Publish
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            telemetry-backend/.gradle/caches
            telemetry-backend/.gradle/wrapper
          key: telemetry-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            telemetry-${{ runner.os }}-gradle-

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Java build
        working-directory: ./telemetry-backend
        run: ./gradlew build --no-daemon
        env:
          REPO_USERNAME: '${{ secrets.REPO_GITHUB_NAME }}'
          REPO_TOKEN: '${{ secrets.REPO_GITHUB_TOKEN }}'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: telemetry-backend/
          file: telemetry-backend/src/main/docker/Dockerfile.jvm
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          push: true
          pull: true
          tags: akop/home-system-telemetry:latest
