name: Publish frontend
on:
  push:
    branches: [ master ]
    paths:
      - 'frontend/**'
      - 'deploy/frontend/**'
      - '.github/workflows/publish-frontend.yml'
jobs:
  publish:
    name: Build and Publish Frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: frontend/
          file: frontend/Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          push: true
          pull: true
          tags: akop/home-system-frontend:latest

  deploy:
    name: Deploy frontend
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - uses: actions/checkout@v4
      - id: wireguard
        uses: ./deploy/connect-with-wireguard
        with:
          client-private-key: ${{ secrets.WIREGUARD_CLIENT_PRIVATE_KEY }}
          client-ip: ${{ secrets.WIREGUARD_CLIENT_IP }}
          allowed-ips: ${{ secrets.WIREGUARD_ALLOWED_IPS }}
          server-public-key: ${{ secrets.WIREGUARD_SERVER_PUBLIC_KEY }}
          endpoint: ${{ secrets.WIREGUARD_ENDPOINT }}
      - name: Deploy
        uses: WyriHaximus/github-action-helm3@v3
        with:
          exec: echo '${{ secrets.VALUES_YAML_HOME_SYSTEM_FRONTEND }}' | helm upgrade akops-home-frontend ./deploy/frontend --install --wait --atomic --values -
          kubeconfig: '${{ secrets.K8S_CONF_AKOP_ONLINE }}'
