name: Publish to DockerHub
on:
  push:
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Publish
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build and publish
        run: ./gradlew jib
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
          REPO_USERNAME: ${{ secrets.REPO_GITHUB_NAME }}
          REPO_TOKEN: ${{ secrets.REPO_GITHUB_TOKEN }}
