<sbb-accordion>
  @for (timer of timerConfigs(); track timer.id) {
    <sbb-expansion-panel>
      <sbb-expansion-panel-header iconName="clock-small">
        <span>
        @if (timer.turnOnAt) {
          {{ timer.turnOnAt }}
        }
          @if (timer.turnOnAt && timer.turnOffAt) {
            -
          }
          @if (timer.turnOffAt) {
            {{ timer.turnOffAt }}
          }
          </span>
        <span class="label">=> {{ timer.name }}</span>
      </sbb-expansion-panel-header>
      <sbb-expansion-panel-content>
        <app-timer-form [config]="timer" [devices]="devices()" (onSave)="save.emit($event)"/>
      </sbb-expansion-panel-content>
    </sbb-expansion-panel>
  }

  <sbb-expansion-panel>
    <sbb-expansion-panel-header iconName="plus-medium">
      <span class="label">Neuen Timer einrichten</span>

    </sbb-expansion-panel-header>
    <sbb-expansion-panel-content>
      <app-timer-form [devices]="devices()" (onSave)="save.emit($event)"/>
    </sbb-expansion-panel-content>
  </sbb-expansion-panel>
</sbb-accordion>
